{{range lsdir "/services"}}
  {{if exists (print "/hosts/" . "/enable")}}
    upstream {{.}} {
    {{ range getvs (print "/services/" . "/*")}}
      server {{.}};
    {{end}}
    }

  server {
    {{if exists (print "/hosts/" . "/server_name")}}
      server_name  {{getv (print "/hosts/" . "/server_name")}} ;
    {{ else }}
      server_name  {{.}}.localhost;
    {{ end }}


    {{if exists (print "/hosts/" . "/media")}}
    location /media {
      root {{getv (print "/hosts/" . "/media")}} ;
    }
    {{ end }}

    location / {
      proxy_pass        http://{{.}};
      proxy_redirect    off;
      proxy_set_header  Host             $host;
      proxy_set_header  X-Real-IP        $remote_addr;
      proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
      }
    }
  {{ end }}
{{ end }}

{{range lsdir "/hosts/static"}}
  server {
    server_name  {{getv (print "/hosts/static/" . "/server_name")}} ;
    root {{getv (print "/hosts/static/" . "/media")}} ;
    location / {
      {{if exists (print "/hosts/static/" . "/private")}}
          auth_basic           "closed site";
          auth_basic_user_file {{ print (getv (print "/hosts/static/" . "/media")) "/.htpasswd" }} ;
          autoindex on;
      {{ else }}
      try_files $uri $uri/ /index.html;
      {{ end }}
    }
  }
{{ end }}
